.broker {
    padding: 40px 0 20px;
    &_pt100 {
        padding-top: 100px;
    }
    &_pt20 {
        padding-top: 20px;
    }
    &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;
        margin-top: 40px;
        &-g26 {
            gap: 26px;
            .broker__item {
                padding: 32px 42px 26px 28px;
            }
        }
    }
    &__item {
        border-radius: 15px;
        background: linear-gradient(152deg, rgb(24%, 35%, 82%, .3) 0%, rgb(80%, 7%, 40%, .3) 100%);
        padding: 40px 39px 50px 48px;
        &_pb44 {
            padding-bottom: 44px;
        }
        &__num {
            border-radius: 100%;
            background: linear-gradient(152deg, #2764e0 0%, #dd0858 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            color: #fff;
            width: 48px;
            height: 48px;
            margin-bottom: 24px;
        }
    }
}